MUSICLENS_ENV=development
MUSICLENS_LOG_LEVEL=INFO
MUSICLENS_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
MUSICLENS_MAX_UPLOAD_BYTES=20971520
MUSICLENS_MAX_PROMPT_CHARS=500
MUSICLENS_ENABLE_COMPOSE=true
MUSICLENS_ENABLE_LYRICS=true
MUSICLENS_REQUEST_ID_HEADER=X-Request-ID
